<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.DictionaryMapper">

    <select id="selectPage" resultType="com.simple.common.entity.dictionary.DictionaryVO">
        SELECT * FROM sys_dictionaries
        <where>
            <if test="vo.value != null and vo.value != ''">
                AND value LIKE CONCAT('%',#{vo.value},'%')
            </if>
            <if test="vo.code != null and vo.code != ''">
                AND code LIKE CONCAT('%',#{vo.code},'%')
            </if>
            <if test="vo.description != null and vo.description != ''">
                AND description LIKE CONCAT('%',#{vo.description},'%')
            </if>
            <if test="vo.groupCode != null and vo.groupCode != ''">
                AND groupCode LIKE CONCAT('%',#{vo.groupCode},'%')
            </if>
            <if test="vo.sort != null and vo.sort != ''">
                AND sort LIKE CONCAT('%',#{vo.sort},'%')
            </if>
            AND deleted = 0
        </where>
    </select>
</mapper>
