<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.RoleMapper">

    <resultMap id="RoleWithResourceIdsMap" type="com.simple.common.entity.role.RoleVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="created_date" property="createdDate"/>
        <result column="description" property="description"/>
        <result column="last_updater" property="lastUpdater"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <collection property="resourceIdList" ofType="integer">
            <result column="resource_id"/>
        </collection>
    </resultMap>

    <!--关联资源查询-->
    <resultMap id="RoleWithResourcesMap" type="com.simple.common.entity.role.RoleVO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="creator" property="creator"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_updater" property="lastUpdater"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <collection property="resourceList" ofType="com.simple.common.entity.resource.ResourceVO">
            <id column="sid" property="id"/>
            <result column="resourceName" property="name"/>
            <result column="type" property="type"/>
            <result column="resourceDescription" property="description"/>
            <result column="uri" property="uri"/>
            <result column="methods" property="methods"/>
        </collection>
    </resultMap>

    <select id="selectPageWithResources" resultMap="RoleWithResourceIdsMap">
        SELECT r.*, rar.resource_id
        FROM sys_roles r
        LEFT JOIN sys_roles_and_resources rar ON r.id = rar.role_id
        <where>
            <if test="roleVO.name != null and roleVO.name != ''">
            r.name LIKE CONCAT('%',#{roleVO.name},'%')
            </if>
            <if test="roleVO.status != null and roleVO.status != ''">
                AND r.status = #{roleVO.status}
            </if>
            AND r.deleted = 0
        </where>
    </select>

    <select id="selectRoleWithResourceIds" resultMap="RoleWithResourceIdsMap">
        SELECT r.*, rar.resource_id
        FROM sys_roles r
        LEFT JOIN sys_roles_and_resources rar ON r.id = rar.role_id
        WHERE deleted = 0 AND id = #{id}
    </select>

    <select id="selectByUserId" resultType="com.simple.common.entity.role.Role">
        SELECT
            r.*
        FROM sys_roles r
        LEFT JOIN sys_users_and_roles uar ON r.id = uar.role_id
        WHERE uar.user_id = #{userId}
          AND r.deleted = 0
    </select>
    <select id="selectRoleWithResources" resultType="com.simple.common.entity.role.RoleVO" resultMap="RoleWithResourcesMap">
        SELECT sr.*,
               s.id AS sid,
               s.name AS resourceName,
               s.uri,
               s.methods,
               s.description AS resourceDescription,
               s.sort,
               s.type
        FROM sys_roles sr
                 LEFT JOIN sys_roles_and_resources srar ON sr.id = srar.role_id
                 LEFT JOIN sys_resources s ON srar.resource_id = s.id
                 WHERE sr.deleted = 0 AND sr.id = #{id}
                   AND sr.deleted = 0

    </select>
</mapper>