<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple.mapper.UserMapper">

    <resultMap id="UserWithRoleIdsMap" type="com.simple.common.entity.user.UserVO" autoMapping="true">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="avatar" property="avatar"/>
        <result column="introduction" property="introduction"/>
        <result column="full_name" property="fullName"/>
        <result column="creator" property="creator"/>
        <result column="created_date" property="createdDate"/>
        <result column="last_updater" property="lastUpdater"/>
        <result column="last_update_date" property="lastUpdateDate"/>
        <result column="status" property="status"/>
        <collection property="roleIds" ofType="integer">
            <result column="role_id"/>
        </collection>
    </resultMap>

    <resultMap id="UserWithRolesMap" type="com.simple.common.entity.user.UserVO" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="roles" ofType="com.simple.common.entity.role.RoleVO">
            <id property="id" column="roleId"/>
            <result property="name" column="roleName"/>
            <result property="description" column="description"/>
        </collection>
    </resultMap>

    <select id="selectUsersOfPage" resultType="com.simple.common.entity.user.UserVO" resultMap="UserWithRoleIdsMap">
        SELECT u.*, uar.role_id
        FROM sys_users u
        LEFT JOIN sys_users_and_roles uar ON u.id = uar.user_id
        <where>
            u.id != -1
            <if test="userVO.username != null and userVO.username == ''">
                u.username LIKE CONCAT('%', #{userVO.username}, '%')
            </if>
            AND u.deleted = 0
        </where>
    </select>
    <select id="selectUsersWithRoles" resultType="com.simple.common.entity.user.UserVO" resultMap="UserWithRolesMap">
        SELECT su.id, su.username, su.nickname, su.full_name, su.status, su.avatar, su.introduction, su.creator, su.created_date, su.last_updater, su.last_update_date, sr.id roleId, sr.description, sr.name roleName
        FROM sys_users su
                 LEFT JOIN sys_users_and_roles suar ON su.id = suar.user_id
                 LEFT JOIN sys_roles sr ON sr.id = suar.role_id
        WHERE su.id = #{userId}
          AND su.deleted = 0
    </select>
</mapper>